<h1 class="center-align">Начинки для тортов</h1>

{{#if cakeToppings.length}}

    {{#each cakeToppings}}
        <div class="row">
            <div class="col s12 m4 l4 xl4">

                <div class="responsive-image">
                    <img src="{{ image }}" alt="{{ title }}" width="auto" height="240">
                </div>
            </div>
            <div class="col s12 m8 l8 xl8">
                <div class="flow-text">
                    <h3 class="center-align">{{ title }}</h3>
                </div>
                <div class="flow-text">
                    <span class="center-align">{{ text }}</span>
                </div>

                <div class="right">
                    <hr>
                    {{#if @root.isAuth}}
                        {{#ifeq userId._id @root.userId}}
                            <a href="/cakeToppings/{{id}}/edit?allow=true"
                                class="btn waves-effect waves-light red">Редактировать</a>
                        {{/ifeq}}
                    {{/if}}
                </div>
            </div>
        </div>
        <hr>
    {{/each}}

{{else}}
    <p>Описаний начинок для тортов пока нет</p>
{{/if}}
<h3 class="center-align"><a href="/products">Перейти в Каталог<i class="material-icons">send</i></a></h3>