<script src='http://w.uptolike.com/widgets/v1/uptolike.js' type='text/javascript'></script>

<div class="container">
    <br>
    <h4 class="center-align">Начинки для тортов</h4>
    <br>
    <hr>
    <br>

    {{#if cakeToppings.length}}

        {{#each cakeToppings}}
            <div class="row">
                <div class="col s12 m5 l5 xl5 cakeTopp-image">
                    <div class="cakeTopp-image">
                        <img src="{{ image }}" alt="{{ title }}">
                    </div>
                </div>
                <div class="col s12 m7 l7 xl7">
                    <div class="flow-text">
                        <h4 class="center-align">{{ title }}</h4>
                    </div>
                    <div class="flow-text">
                        <span class="center-align">{{ text }}</span>
                    </div>

                    <div class="right">
                        <hr>
                        {{#if @root.isAuth}}
                            {{#ifeq userId._id @root.userId}}
                                <a href="/cakeToppings/{{id}}/edit?allow=true"
                                    class="btn waves-effect waves-light red">Редактировать</a>
                            {{/ifeq}}
                        {{/if}}
                    </div>

                    <div class="soc-like center">
                        <br>
                        <div data-count-clicks="true" data-icon-style="1" data-text-size="16" data-pid="{{@index}}"
                            data-icon-size="16" data-background-color="#fce0b6" data-icon-color="74452e"
                            data-text-color="74452e" data-like-layout="tic" data-dislike-layout="tic"
                            class="uptolike-rating">
                        </div>
                    </div>

                    <div class="soc-share center">
                        <br>
                        <p>Расскажите друзьям в соц. сетях:</p>

                        <div data-mobile-view="false" data-share-size="30" data-like-text-enable="false"
                            data-background-alpha="0.0" data-pid="1871054" data-mode="share"
                            data-background-color="#ffffff" data-hover-effect="scale" data-share-shape="round"
                            data-share-counter-size="12" data-icon-color="#ffffff"
                            data-mobile-sn-ids="fb.vk.tw.ok.wh.tm.vb.ps." data-text-color="#000000"
                            data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff"
                            data-share-counter-type="disable" data-orientation="horizontal"
                            data-following-enable="false" data-sn-ids="fb.tw.vk.ok.wh.tm.vb.ps."
                            data-preview-mobile="false" data-selection-enable="true" data-exclude-show-more="true"
                            data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false"
                            class="uptolike-buttons">
                        </div>
                        {{!-- <script type="text/javascript">
                            (function (w, doc) {
                                if (!w.__utlWdgt) {
                                    w.__utlWdgt = true;
                                    var d = doc;
                                    var s = d.createElement('script');
                                    var g = 'getElementsByTagName';

                                    s.type = 'text/javascript';
                                    s.charset = 'UTF-8';
                                    s.async = true;
                                    s.src = ('https:' == w.location.protocol ? 'https' : 'http') + '://w.uptolike.com/widgets/v1/uptolike.js';
                                    var h = d[g]('body')[0];
                                    h.appendChild(s);
                                }
                            })(window, document);
                        </script> --}}
                    </div>

                </div>

            </div>
            <hr>
        {{/each}}

    {{else}}
        <p>Описаний начинок для тортов пока нет</p>
    {{/if}}
    <div class="collection">
        <a href="/products" class="collection-item">Перейти в Каталог</a>
        <a href="/formOrder" class="collection-item">Перейти в форму для заказа</a>
    </div>
</div>