<div class="container">
    <h4 class="center-align">Форма заказа</h4>

    {{#if product}}
        <table>
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Изображение</th>
                    <th>Название</th>
                    <th>Цена за кг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{product.vendorCode}}</td>
                    <td><img src="{{product.img}}" alt="" width="50px"> </td>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    {{/if}}
    <div class="center-align">
        <h5>Для заказа заполните нижеприведенную форму.</h5>
        <h5>Либо <a href="/products">Вернуться в КАТАЛОГ</a></h5>
        <p>(Поля отмеченные * обязательны для заполнения)</p>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <form action="/formOrder/add" method="POST" id="formOrder">
                <div class="input-field">
                    <input id="name" name="name" type="text" required class="validate">
                    <label for="name">* Ваше Имя:</label>
                    <span class="helper-text" data-error="Введите имя"></span>
                </div>

                <div class="input-field">
                    <input id="phone" name="phone" type="tel" required class="validate">
                    <label for="phone">* Ваш номер телефона для связи:</label>
                    <span class="helper-text" data-error="Введите номер телефона"></span>
                </div>

                <div class="input-field">
                    <input id="email" name="email" type="email">
                    <label for="email">Ваш e-mail:</label>
                    <span class="helper-text" data-error="Введите e-mail"></span>
                </div>

                <div class="input-field">
                    <input id="date" name="date" type="text" class="datepicker">
                    <label for="email">На когда нужен заказ:</label>
                    <span class="helper-text" data-error="Введите дату"></span>
                </div>

                <div class="input-field">
                    <input id="theme" name="theme" type="text">
                    <label for="theme">Тема (например: торт):</label>
                    <span class="helper-text" data-error="Введите тему"></span>
                </div>

                <div class="input-field">
                    <textarea id="information" class="materialize-textarea" name="information"
                        placeholder="Подробности заказа ..."></textarea>
                    <label for="information">Ваше сообщение</label>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">
                {{#if product}}
                    <input type="hidden" name="product" value="{{product.id}}">
                {{/if}}
                <div class="center-align">
                    <button class="btn btn-primary waves-effect waves-orange">Сделать заказ</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>