<h1 class="product">Каталог</h1>
<div class="container">
    {{#if products.length}}

        <div class="row">

            {{#each products}}

                <div class="col s6 m4 l3 xl3">

                    <div class="card hoverable yellow lighten-5">

                        <div class="card-image">
                            <img src="{{ img }}" alt="{{ title }}">
                        </div>
                        <div class="card-content flow-text">

                            <div class="vendor-like">
                                <div class="left-align p1 vendor">Арт.№ {{ vendorCode }}</div>

                                <div data-count-clicks="true" data-icon-style="0" data-text-size="12" data-pid="1871052"
                                    data-icon-size="12" data-background-color="#fffde7" data-icon-color="74452e"
                                    data-text-color="74452e" data-like-layout="ic" data-dislike-layout="ic"
                                    class="uptolike-rating vendor-uptolike">
                                </div>

                            </div>
                            <br>
                            <p class="title center-align">{{ title }}</p>
                            <p class="price center-align">{{ price }}</p>
                            <hr>
                            <div class="left-align">
                                <a href="/products/{{id}}" target="_blank">Подробнее</a>
                            </div>
                            <div class="right-align">
                                {{#if @root.isAuth}}
                                    {{#ifeq userId._id @root.userId}}
                                        <a href="/products/{{id}}/edit?allow=true" class="red-text">Редактировать</a>
                                    {{/ifeq}}
                                {{/if}}
                            </div>
                        </div>

                        <div class="card-action center">
                            <form action="/formOrder" method="post">
                                <input type="hidden" name="id" value="{{id}}">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                <button type="submit"
                                    class="btn btn-primary btn-medium amber accent-4 blue-text text-darken-2">Заказать</button>
                            </form>
                        </div>
                    </div>
                </div>

            {{/each}}

        </div>

    {{else}}
        <p>Товаров пока нет</p>
    {{/if}}
</div>

<script type="text/javascript">(function (w, doc) {
        if (!w.__utlWdgt) {
            w.__utlWdgt = true;
            var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
            s.src = ('https:' == w.location.protocol ? 'https' : 'http') + '://w.uptolike.com/widgets/v1/uptolike.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
        }
    })(window, document);
</script>