<div>
    <h4 class="center-align">{{ product.title }}</h4>
</div>

<div class="product">

    <div class="product-img">
        <img src="{{product.img}}" alt="{{ product.title }}">
    </div>

    <div class="content  center-align">
        <br>
        <br>
        <p class="deep-purple-text text-darken-4">Описание:</p>
        <p class="txt">{{ product.description }}</p>
        <p class="deep-purple-text text-darken-4">Ингредиенты:</p>
        <p class="txt">{{ product.ingredients}}</p>
        <p class="deep-purple-text text-darken-4">Калорийность в 100гр продукта:</p>
        <p class="txt">{{ product.calorie}} ккал</p>
        <p class="deep-purple-text text-darken-4">Цена за кг(ориентировочно):</p>
        <p class="price big">{{ product.price }}</p>

        <div class="soc-share">
            <p>Поделиться с друзьями в соц. сетях:</p>
            <br>
            <div data-mobile-view="false" data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0"
                data-pid="1871054" data-mode="share" data-background-color="#ffffff" data-hover-effect="scale"
                data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff"
                data-mobile-sn-ids="fb.vk.tw.ok.wh.tm.vb.ps." data-text-color="#000000" data-buttons-color="#FFFFFF"
                data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="horizontal"
                data-following-enable="false" data-sn-ids="fb.tw.vk.ok.wh.tm.vb.ps." data-preview-mobile="false"
                data-selection-enable="true" data-exclude-show-more="true" data-share-style="1"
                data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons">
            </div>
            <br>
        </div>
    </div>
</div>