<h1 class="product">Каталог</h1>
<div class="container">
    {{#if products.length}}

        <div class="row">

            {{#each products}}

                <div class="col s6 m4 l3 xl3">

                    <div class="card hoverable yellow lighten-5">

                        <div class="card-image">
                            <img src="{{ img }}" alt="{{ title }}">
                        </div>
                        <div class="card-content flow-text">
                            <p class="left-align p1">Арт.№ {{ vendorCode }}</p>
                            <p class="center-align">{{ title }}</p>
                            <p class="price center-align">{{ price }}</p>
                            <hr>
                            <div class="left-align">
                                <a href="/products/{{id}}" target="_blank">Подробнее</a>
                            </div>
                            <div class="right-align">
                                {{#if @root.isAuth}}
                                    {{#ifeq userId._id @root.userId}}
                                        <a href="/products/{{id}}/edit?allow=true" class="red-text">Редактировать</a>
                                    {{/ifeq}}
                                {{/if}}
                            </div>
                        </div>

                        <div class="card-action center">
                            <form action="/formOrder" method="post">
                                <input type="hidden" name="id" value="{{id}}">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                <button type="submit"
                                    class="btn btn-primary btn-medium amber accent-4 blue-text text-darken-2">Заказать</button>
                            </form>
                        </div>
                    </div>
                </div>

            {{/each}}

        </div>

    {{else}}
        <p>Товаров пока нет</p>
    {{/if}}
</div>